body {
    width: 320px;
    height: 505px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top {
    height: 50px; /* กำหนดความสูงของส่วนบน */
}

.middle {
    height:390px; /* กำหนดความสูงของส่วนกลาง */
    background-color: blue;
    line-height: 380px; /* จัดให้ข้อความอยู่กลาง */
}

.bottom {
    height: 65px; /* กำหนดความสูงของส่วนล่าง */
    line-height: 55px; /* จัดให้ข้อความอยู่กลาง */
}

