body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* สีพื้นหลัง */
    overflow: hidden;
}

.container {
    max-width: 600px;
    min-height: 100vh;
    margin: auto;
    background-color: #C2F1FF;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}

.cloud1 {
    z-index: -1;
    position: absolute;
    top: 260px;
    left: 280px;
}

.cloud2 {
    z-index: -1;
    position: absolute;
    top: 220px;
    left: 20px;
}

.cloud3 {
    z-index: -1;
    position: absolute;
    top: 460px;
    left: 270px;
}

.cloud4 {
    z-index: -1;
    position: absolute;
    top: 30px;
    left: 270px;
}

.content {
    text-align: center;
}

.date {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
    font-size: 2rem;
    color: #000;
}

.date .day {
    padding-right: 10px;
    margin-top: 10px;
}

.date .month {
    padding-right: 100px;
    margin-top: 10px;
}

.content img {
    width: 100%;
    height: auto;
    max-width: 250px; /* ปรับขนาดรูปภาพ */
}

.emoji {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-emoji {
    display: block;
    width: 70px;
    margin: auto;
    color: white;
    text-align: center;
    text-decoration: none;
}

.comment {
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
}

.comment p {
    margin: 0;
    padding-left: 10px;
}

.comment input {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #a7a7a7;
    border-radius: 25px;
    text-align: start;
}

.footer {
    text-align: center;
    width: 100%;
    height: auto;
}

.footer img {
    width: 100%; /* ปรับขนาดรูปภาพ */
    height: auto;
}

.footer .text-box {
    position: relative; 
    justify-self: center;
    width: 70%;
    top: -140px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border: 1px solid #a7a7a7;
    border-radius: 10px;
}

.navbar {
    position: fixed;
    bottom: 0;
    max-width: 600px;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #EF0074; /* สีพื้นหลัง */
}

.nav a {
    color: white;
    text-decoration: none;
    max-height: 45px;
}

.nav img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.nav .home {
    position: relative;
    top: -20px;
    width: 50px;
    height: auto;
    background-color: #FF4196;
    border-radius: 50%;
    padding: 10px;
}